In [1]:
print (1+1)

2

### Description: This is a Hands-on Lab demo
Hope I am getting this right

In [2]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.

if os.environ.get('RUNTIME_ENV_LOCATION_TYPE') == 'external':
    endpoint_2cfc6c15e6b24d1e9347bdd0f3c037e4 = 'https://s3.eu.cloud-object-storage.appdomain.cloud'
else:
    endpoint_2cfc6c15e6b24d1e9347bdd0f3c037e4 = 'https://s3.private.eu.cloud-object-storage.appdomain.cloud'

client_2cfc6c15e6b24d1e9347bdd0f3c037e4 = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='mZm1jL4dSTTCFvopWt-OH1VHs2HBjOL5seyJeMnF9-ns',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url=endpoint_2cfc6c15e6b24d1e9347bdd0f3c037e4)

body = client_2cfc6c15e6b24d1e9347bdd0f3c037e4.get_object(Bucket='handsonlab-donotdelete-pr-bw0dtf7ghyo63x',Key='rainfall.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,num,altitude,sep,oct,nov,dec,jan,feb,mar,apr,may,name,x_utm,y_utm
0,110050,30,1.2,33,90,117,135,102,61,20,6.7,Kfar Rosh Hanikra,696533.0929,3660837.106
1,110351,35,2.3,34,86,121,144,106,62,23,4.5,Saar,697119.0761,3656748.194
2,110502,20,2.7,29,89,131,158,109,62,24,3.8,Evron,696509.3390,3652434.139
3,111001,10,2.9,32,91,137,152,113,61,21,4.8,Kfar Masrik,696541.6760,3641331.565
4,111650,25,1.0,27,78,128,136,108,59,21,4.7,Kfar Hamakabi,697875.2885,3630156.099